.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    color: #707070;
    padding: 6px 7px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 1px 1px 20px black;
    height: 120px;
}

/* search box  */
    .search-container {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      /* background-image: url("../images/search.png"); */
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #fff;
      /* border: 2px solid #ccc; */
      transition: width 0.4s ease, box-shadow 0.3s ease, border-color 0.3s ease;
      overflow: hidden;
      color: grey;
    }
    .search-img{
        display: flex;
        justify-content: start;
        align-items: start;
        width: 23px;
        /* margin-top: 5px; */
    }

    .cart-image {
        display: flex;
        justify-content: start;
        align-items: start;
        width: 23px;
    }

    .search-container:hover {
      width: 280px;
      /* box-shadow: 0 0 10px rgba(74, 144, 226, 0.3); */
      border-color: #19c880;
      /* background-image: url("../images/search.png"); */
      background-size: contain;
      background-position: left;
      background-repeat: no-repeat;
      border: 2px solid #19c880;
      border-radius: 25px;

    }

    .search-container input {
      width: 100%;
      height: 100%;
      padding: 0 55px 0 50px;
      color: #707070;
      border: none;
      outline: none;
      font-size: 16px;
      background-color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease 0.1s;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .search-container:hover input {
      opacity: 1;
    }

    .search-container .fa-search {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      color: #888;
      font-size: 18px;
      pointer-events: none;
    }

    /* search box complete */

body {
    margin: 0px;
    padding: 0px;
}

.navbar h1 {
    margin: 0;
    font-size: 22px;
}

.menu {
    display: none;
    list-style: none;
}

.menu li {
    padding: 11px;
}

.menu li a {
    color: #707070;
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.menu li a:hover {
    color: #19c880;
    border-bottom: 1px solid #19c880;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
    padding: 10px;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background-color: #707070;
    display: block;
    border-radius: 2px;
    transition: 0.3s;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked+.hamburger+.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    width: 250px;
    border-radius: 0 0 0 10px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .menu {
        display: flex !important;
        flex-direction: row;
        gap: 20px;
        position: static;
    }


}

@media (min-width: 768px) and (max-width: 992px) {
    .search-container {
        display: none;
    }

    .back-img {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 130px;
        max-width: 100%;
        /* height: auto; */
        background-image: url("home-main-img.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 1/1;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFD6AA;
        padding: 15px;
        align-items: center;
        text-align: center;
    }

}

@media (max-width:768px) {
    .input-box {
        border: none;
        /* border: 1px solid #707070; */
        border-radius: 30px;
        height: 23px;
        /* padding-left: 5px; */
        outline: #707070;
        color: #19c880;
        width: 180px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #f2f1f1;
        margin-top: 23px;
    }
}

.back-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    max-width: 100%;
    height: 100%;
    background-image: url("../images/home-main-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 16/7;

}

.back-img-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 130px;
    max-width: 100%;
    height: auto;
    background-image: url("../images/sale_offer.avif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 16/7;
}

.back-img-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 130px;
    max-width: 100%;
    height: auto;
    background-image: url("../images/background_img.avif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 16/7;
}

.back-img-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    max-width: 100%;
    height: auto;
    background-image: url("../images/background_img_2.avif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 16/7;
}



.main-heading {
    font-size: 25px;
    text-align: center;
    color: #707070;
    font-family: 'Courier New', Courier, monospace;
}


.main-content {
    /* margin-left: 150px;
    margin-right: 150px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 5px;
    margin-bottom: 5px; */
    align-items: start;
}

.card-img {
    width: 210px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 210px;
    padding: 15px;
    text-decoration: none;
}

.info {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: start;
}

.original-price {
    display: inline-block;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #252525;

}

.del-price {
    display: inline-block;
    margin-right: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #b3b3b3;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: inline-block;
}


.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFD6AA;
    padding: 15px;
    align-items: center;
}

.reviews-head {
    padding-top: 30px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-transform: uppercase;
}

.title-reviews {

    display: inline-block;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.msg {

    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.name {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #A52A2A;
    font-weight: bold;
    margin-bottom: 30px;

}

@media (max-width : 768px) {

    .reviews {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #FFD6AA;
        padding: 0px;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .msg {

        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
    }
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.logo-name {
    font-size: 30px;
    font-family: cursive;
    text-transform: uppercase;
    color: #707070;
}

.Copyright {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #707070;

}

.quick-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
}

.quick-links-font {

    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #707070;

}

.link {
    color: #707070;
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.follow-link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

.Address {

    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #707070;
}

.social-media-pic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.social-media {
    width: 30px;
    margin: 10px;
}

.social-media:hover {
    background-color: #19c880;
    transition: 0.2s;
}

.link:hover {
    color: #19c880;
    transition: 0.2s;
}

@media (max-width:768px) {

    .quick-links {
        display: none;
    }

}

.info:hover {
    color: #19c880;
    transition: 0.2s;
}