body{
    padding: 0px;
    margin: 0px;
}
.main {
      background-image: url('https://img.freepik.com/free-photo/spring-wardrobe-switch-still-life_23-2150176694.jpg?uid=R204388906&ga=GA1.1.104672804.1736333563&w=740');
      background-size: cover;
      background-position: center;
      height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
      text-align: center;
    }

    .main h2 {
      font-size: 48px;
      margin-bottom: 10px;
    }

    .main p {
      font-size: 20px;
    }